<nav class="top-nav">
  <div class="app-title"><img src="../assets/wijmoLogo.png" width="75" height="45"></div>
  <div class="top-nav-links">
    <ul>
      <li><a routerLink="/profile" class="profile-link"><i class="bi bi-person-circle"></i></a></li>
      <li><i #notificationBell class="bi bi-bell notification-bell"></i></li>
      <li><i class="bi bi-list hamburger" (click)="toggleSideNav()"></i></li>
      <wj-popup [owner]="notificationBell" [showTrigger]="'Click'" [hideTrigger]="'Blur'" class="popover">
        <div class="popup-card">
          <div class="popup-card-left">
            <i class="bi bi-bell nav-link" style="margin-top: 5px;"></i>
          </div>
          <div class="popup-card-right">
            <a routerLink="/notifications">3 Notifications</a>
          </div>
        </div>
      </wj-popup>
    </ul>
  </div>
</nav>
<nav id="side-nav" class="side-nav">
  <ul class="side-navbar-items">
    <li routerLink="/dashboard" routerLinkActive="active"><i class="bi bi-bar-chart-line"></i>Dashboard</li>
    <li routerLink="/products" routerLinkActive="active"><i class="bi bi-journal-bookmark"></i>Products</li>
    <li routerLink="/adjustment" routerLinkActive="active"><i class="bi bi-pencil-square"></i>Adjustment</li>
    <li routerLink="/transfer" routerLinkActive="active"><i class="bi bi-box-arrow-right"></i>Transfer</li>
    <li routerLink="/expenses" routerLinkActive="active"><i class="bi bi-briefcase"></i>Expenses</li>
    <li routerLink="/quotations" routerLinkActive="active"><i class="bi bi-basket"></i>Quotations</li>
  </ul>
</nav>
<!-- <nav class="navbar fixed-top navbar-expand navbar-light bg-light" style="height: 60px;">
  <a class="navbar-brand" href="#" style="margin-left: 20px;"><img src="../assets/grapecityLogo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 10px;">Wijmo Product Stock</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <span class="nav-link navbar-toggler-icon" (click)="toggleSideNav()"></span>
    </li>
  </ul>
  <ul class="nav navbar-nav ms-auto">
    <li class="nav-item">
      <a routerLink="/profile"><i class="bi bi-person-circle nav-link" style="margin-right: 10px;"></i></a>
    </li>
    <li class="nav-item">
      <i #notificationBell class="bi bi-bell nav-link" style="margin-right: 10px;"></i>
      <wj-popup [owner]="notificationBell" [showTrigger]="'Click'" [hideTrigger]="'Blur'" class="popover">
        <div class="popup-card">
          <div class="popup-card-left">
            <i class="bi bi-bell nav-link" style="margin-top: 5px;"></i>
          </div>
          <div class="popup-card-right">
            <a routerLink="/notifications">3 Notifications</a>
          </div>
        </div>
      </wj-popup>
    </li>
  </ul>
</nav> -->
<div id="maincontent" class="main-content">
  <router-outlet></router-outlet>
</div>